<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<p>HOLA</p>
	<div th:each="pd:${diario}" class="col-lg-4 col-md-6 mb-4 cards">
			<div class="card h-100">
					<p th:text="${pd.idPermiso}" class="card-text"></p>
					<p th:text="${pd.fecha}" class="card-text"></p>
					<p th:text="${pd.motivo}" class="card-text"></p>
			</div>
	</div>
	
	
	<div th:each="pp:${periodo}" class="col-lg-4 col-md-6 mb-4 cards">
			<div class="card h-100">
					<p th:text="${pp.idPermiso}" class="card-text"></p>
					<p th:text="${pp.fecha}" class="card-text"></p>
					<p th:text="${pp.cantDias}" class="card-text"></p>
					<p th:text="${pp.vacaciones}" class="card-text"></p>
			</div>
	</div>
	
	
	
</body>
</html>