<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<p>HOLA</p>
	<div th:each="p:${permisos}" class="col-lg-4 col-md-6 mb-4 cards">
			<div class="card h-100">
					<p th:text="${p.idPermiso}" class="card-text"></p>
					<p th:text="${p.fecha}" class="card-text"></p>
					<p th:text="${p.cantDias}" class="card-text"></p>
					<p th:text="${p.vacaciones}" class="card-text"></p>
					<p th:text="${p.rodado.vehiculo}" class="card-text"></p>
			</div>
	</div>
	
	
</body>
</html>