<div class="card-body">
                     <form class="wizard-container" method="POST" th:object="${permisoDiario}" th:action="@{/permiso/save}" id="js-wizard-form">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <div class="form">
                                    <div class="input-group">
                                    	
                                    
                                    	<select class="selectpicker input--style-1"style="height: 52px;padding-right: 100px;" data-width="auto" th:field="*{pedido.id}" 
                                            name="Persona" placeholder="Seleccione Persona"  required="required">	

                                            <option th:each="p : ${personas}"  th:value="${(p.id)}" th:text=" ${p.apellido} + ' ' + ${p.nombre} + ' - ' + ${p.tipo} + ' ' + ${p.nroDocumento}"></option>
                                        </select>
                                        
                                        <div class="row">

                                        	<div class="col">
												<input th:field="*{fecha}" type="date" value="2011-08-19" class="form-control" placeholder="Fecha">
											</div>
    
                                        	<div class="col">
                                            	<input th:field="*{motivo}" class="input--style-1" type="text" name="motivo" placeholder="Motivo"  required="required">
                                       		</div>
                                   		</div>
                                        
                                        <div >
                                        <span class="btn--next">
                                            <input type="submit" name="action" value="Agregar" />
                                        </span>
                                    	</div>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>