<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sistema integrador</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate-grilla.css">
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<link rel="stylesheet" type="text/css" href="/css/util-grilla.css">
	<link rel="stylesheet" type="text/css" href="/css/main-grilla.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<!--===============================================================================================-->
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>
<body>
	
	<nav th:if="${admin==true}" class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #f4623a;"
	th:include="nav_admin :: div"></nav>
			
	<nav th:if="${audit==true}" class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #f4623a;"
	th:include="nav_audit :: div"></nav>

	<div  class="limiter">
		<a  th:if="${eliminado}" id="alert-success"></a>
		<div  class="container-table100">
			<div class="wrap-table100">
				<div  class="table100 ver1 m-b-110">
					<div  class="table100-head" >
						<table >
							<thead >
								<tr  class="row100 head" >
									<th style="background-color: #f4623a;" class="cell100 column2 text-left">Perfil</th>
									<th style="background-color: #f4623a;" class="cell100 column5 text-left">Estado</th>
									<th style="background-color: #f4623a;" class="cell100 column3 text-left"></th>
									<th style="background-color: #f4623a;" class="cell100 column3 text-left"></th>
									<th style="background-color: #f4623a;" class="cell100 column3 text-left"></th>
									<th style="background-color: #f4623a;" class="cell100 column3 text-left">Editar</th>
									<th style="background-color: #f4623a;" class="cell100 column4 text-left">Eliminar</th>
								</tr>
							</thead>
						</table>
					</div>

					<div class="table100-body js-pscroll">
						<table>
							<tbody>
								<tr th:each="rol : ${roles}" class="row100 body">
									<p style= "display: none" th:text="${rol.id}" class="cell100 column1"></p>
									<td th:text="${rol.role}" class="cell100 column2 text-left"></td>
									
									<td >
										<span th:if="${rol.enabled==true}" th:text= "Desbloqueado" class="cell100 column5 text-right"></span>
										<span th:if="${rol.enabled==false}" th:text= "Bloqueado" class="cell100 column5 text-right"></span>
									</td>
									<td class="cell100 column3 text-left">
										<form th:action="@{/perfil/edit/{id}(id=${rol.id})}" method="get" role="form">
											<input class="icon-borrar" type="image" src="../../img/edit.png"  title="Editar" />
										</form>
									</td>
									
									<td class="cell100 column4 text-right">
										<form th:action="@{/perfil/delete/{id}(id=${rol.id})}" method="get" role="form">
											<input class="icon-borrar" type="image" src="../../img/borrar.svg"  title="Eliminar" />
										</form>
									</td>
									
								</tr>

								
							</tbody>
						</table>
					</div>
				</div>
			</div>	
		</div>
	</div>

	
	
	<footer class="bg-dark py-5">
    <div class="container">
        <div class="small text-center text-muted">
            Copyright &copy;
            <script>
                document.write(new Date().getFullYear());
            </script>
            - Universidad Nacional de Lanus
        </div>
    </div>
	</footer>

<!--===============================================================================================-->	
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});
			
		
	</script>
	<script>
        $("#alert-success").show(function () {
			toastr.success("Perfil y usuarios que lo tienen asignado bloqueados correctamente")
		});
	</script>
<!--===============================================================================================-->
	<script src="/js/main-grilla.js"></script>

</body>
</html></html>